USE [MCS]
GO
/****** Object:  Table [dbo].[newEquipment]    Script Date: 12/19/2017 7:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[newEquipment](
	[intEquipmentID] [int] IDENTITY(1,1) NOT NULL,
	[intGarageRoom] [nvarchar](50) NULL,
	[intManufacturerID] [int] NOT NULL,
	[intModelID] [int] NOT NULL,
	[strManufYear] [nvarchar](4) NULL,
	[intSNPrefixID] [int] NOT NULL,
	[strSerialNo] [nvarchar](20) NULL,
	[intEquipmentTypeID] [int] NOT NULL,
	[intSMCSFamilyID] [int] NOT NULL,
	[intSizeID] [int] NOT NULL,
	[CreateDate] [date] NULL,
	[intMetered] [float] NOT NULL,
	[LastDate] [date] NOT NULL,
	[intLastMetered] [float] NOT NULL,
	[intTotalMetered] [float] NOT NULL,
	[intlimitDay] [int] NULL,
	[intlimitWeek] [int] NULL,
	[bitActive] [bit] NOT NULL,
	[bitPreservation] [bit] NOT NULL,
	[bitMeter] [bit] NOT NULL,
	[bitKTG] [bit] NOT NULL,
	[isDelete] [bit] NOT NULL CONSTRAINT [DF_newEquipment_isDelete]  DEFAULT ((0)),
	[intLocationId] [int] NOT NULL,
	[strDescription] [nvarchar](1050) NULL,
	[floatCostTires] [float] NULL,
	[intCostTiresCurrency] [int] NULL,
	[floatAverageDivergence] [float] NULL,
	[floatFullPrice] [float] NULL,
	[intFullPriceCurrency] [int] NULL,
	[dateStartUpDate] [date] NULL,
	[intServiceLife] [int] NULL,
	[intHoweverOddsAcceleration] [int] NULL,
	[bitMethodAmortization] [bit] NOT NULL,
 CONSTRAINT [PK_Equipment] PRIMARY KEY CLUSTERED 
(
	[intEquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TablesLocation]    Script Date: 12/19/2017 7:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablesLocation](
	[intLocationId] [int] IDENTITY(1,1) NOT NULL,
	[strLocationName] [nvarchar](500) NULL,
	[intMajorLocationID] [int] NULL,
	[floatWageStatements] [float] NULL,
	[intWageStatementsCurrency] [int] NULL,
	[floatAdministrativeExpenses] [float] NULL,
	[intAdministrativeExpensesCurrency] [int] NULL,
	[strAddressName] [nvarchar](500) NULL,
	[strAddressName3] [nvarchar](500) NULL,
	[strAddressName5] [nvarchar](50) NULL,
	[CreateDate] [date] NULL,
 CONSTRAINT [PK_TablesLocation] PRIMARY KEY CLUSTERED 
(
	[intLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TablesManufacturer]    Script Date: 12/19/2017 7:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablesManufacturer](
	[intManufacturerID] [int] IDENTITY(1,1) NOT NULL,
	[strManufacturerChecklistId] [nvarchar](50) NULL,
	[strName] [nvarchar](50) NULL,
 CONSTRAINT [PK_newTablesManufacturer] PRIMARY KEY CLUSTERED 
(
	[intManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TablesModel]    Script Date: 12/19/2017 7:13:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablesModel](
	[intModelID] [int] IDENTITY(1,1) NOT NULL,
	[strName] [nvarchar](10) NULL,
	[intManufacturerID] [int] NULL,
	[intSMCSFamilyID] [int] NULL,
	[strImage] [nvarchar](250) NULL,
 CONSTRAINT [PK_newTablesModel] PRIMARY KEY CLUSTERED 
(
	[intModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[newEquipment] ON 

GO
SET IDENTITY_INSERT [dbo].[newEquipment] OFF
SET IDENTITY_INSERT [dbo].[TablesLocation] ON 

INSERT [dbo].[TablesLocation] ([intLocationId], [strLocationName], [intMajorLocationID], [floatWageStatements], [intWageStatementsCurrency], [floatAdministrativeExpenses], [intAdministrativeExpensesCurrency], [strAddressName], [strAddressName3], [strAddressName5], [CreateDate]) VALUES (1, N'Варваринское', NULL, 600000, 4, 0, 4, NULL, NULL, NULL, NULL)
INSERT [dbo].[TablesLocation] ([intLocationId], [strLocationName], [intMajorLocationID], [floatWageStatements], [intWageStatementsCurrency], [floatAdministrativeExpenses], [intAdministrativeExpensesCurrency], [strAddressName], [strAddressName3], [strAddressName5], [CreateDate]) VALUES (3, N'Алтынтау Кокшетау', NULL, NULL, 1, NULL, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[TablesLocation] ([intLocationId], [strLocationName], [intMajorLocationID], [floatWageStatements], [intWageStatementsCurrency], [floatAdministrativeExpenses], [intAdministrativeExpensesCurrency], [strAddressName], [strAddressName3], [strAddressName5], [CreateDate]) VALUES (4, N'Ормет', NULL, NULL, 1, NULL, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TablesLocation] OFF
SET IDENTITY_INSERT [dbo].[TablesManufacturer] ON 

INSERT [dbo].[TablesManufacturer] ([intManufacturerID], [strManufacturerChecklistId], [strName]) VALUES (1, NULL, N'CATERPILLAR')
INSERT [dbo].[TablesManufacturer] ([intManufacturerID], [strManufacturerChecklistId], [strName]) VALUES (2, NULL, N'TEREX')
INSERT [dbo].[TablesManufacturer] ([intManufacturerID], [strManufacturerChecklistId], [strName]) VALUES (3, NULL, N'KENWOORD')
SET IDENTITY_INSERT [dbo].[TablesManufacturer] OFF
SET IDENTITY_INSERT [dbo].[TablesModel] ON 

INSERT [dbo].[TablesModel] ([intModelID], [strName], [intManufacturerID], [intSMCSFamilyID], [strImage]) VALUES (1, N'12H', 1, 16, N'19.png')
INSERT [dbo].[TablesModel] ([intModelID], [strName], [intManufacturerID], [intSMCSFamilyID], [strImage]) VALUES (2, N'16H', 1, 16, N'18.png')
INSERT [dbo].[TablesModel] ([intModelID], [strName], [intManufacturerID], [intSMCSFamilyID], [strImage]) VALUES (3, N'16M', 1, 16, N'13.png')
GO
SET IDENTITY_INSERT [dbo].[TablesModel] OFF
ALTER TABLE [dbo].[newEquipment]  WITH CHECK ADD  CONSTRAINT [FK_newEquipment_TablesEquipmentType] FOREIGN KEY([intEquipmentTypeID])
REFERENCES [dbo].[TablesEquipmentType] ([intEquipmentTypeId])
GO
ALTER TABLE [dbo].[newEquipment] CHECK CONSTRAINT [FK_newEquipment_TablesEquipmentType]
GO
ALTER TABLE [dbo].[newEquipment]  WITH CHECK ADD  CONSTRAINT [FK_newEquipment_TablesFamilyType] FOREIGN KEY([intSMCSFamilyID])
REFERENCES [dbo].[TablesFamilyType] ([intFamilyTypeId])
GO
ALTER TABLE [dbo].[newEquipment] CHECK CONSTRAINT [FK_newEquipment_TablesFamilyType]
GO
ALTER TABLE [dbo].[newEquipment]  WITH CHECK ADD  CONSTRAINT [FK_newEquipment_TablesLocation] FOREIGN KEY([intLocationId])
REFERENCES [dbo].[TablesLocation] ([intLocationId])
GO
ALTER TABLE [dbo].[newEquipment] CHECK CONSTRAINT [FK_newEquipment_TablesLocation]
GO
ALTER TABLE [dbo].[newEquipment]  WITH CHECK ADD  CONSTRAINT [FK_newEquipment_TablesManufacturer] FOREIGN KEY([intManufacturerID])
REFERENCES [dbo].[TablesManufacturer] ([intManufacturerID])
GO
ALTER TABLE [dbo].[newEquipment] CHECK CONSTRAINT [FK_newEquipment_TablesManufacturer]
GO
ALTER TABLE [dbo].[newEquipment]  WITH CHECK ADD  CONSTRAINT [FK_newEquipment_TablesModel] FOREIGN KEY([intModelID])
REFERENCES [dbo].[TablesModel] ([intModelID])
GO
ALTER TABLE [dbo].[newEquipment] CHECK CONSTRAINT [FK_newEquipment_TablesModel]
GO
ALTER TABLE [dbo].[newEquipment]  WITH CHECK ADD  CONSTRAINT [FK_newEquipment_TablesSize] FOREIGN KEY([intSizeID])
REFERENCES [dbo].[TablesSize] ([intSizeID])
GO
ALTER TABLE [dbo].[newEquipment] CHECK CONSTRAINT [FK_newEquipment_TablesSize]
GO
ALTER TABLE [dbo].[newEquipment]  WITH CHECK ADD  CONSTRAINT [FK_newEquipment_TablesSNPrefix] FOREIGN KEY([intSNPrefixID])
REFERENCES [dbo].[TablesSNPrefix] ([intSNPrefixID])
GO
ALTER TABLE [dbo].[newEquipment] CHECK CONSTRAINT [FK_newEquipment_TablesSNPrefix]
GO
ALTER TABLE [dbo].[TablesModel]  WITH CHECK ADD  CONSTRAINT [FK_newTablesModel_newTablesModel] FOREIGN KEY([intManufacturerID])
REFERENCES [dbo].[TablesManufacturer] ([intManufacturerID])
GO
ALTER TABLE [dbo].[TablesModel] CHECK CONSTRAINT [FK_newTablesModel_newTablesModel]
GO
ALTER TABLE [dbo].[TablesModel]  WITH CHECK ADD  CONSTRAINT [FK_TablesModel_TablesSMCSFamily] FOREIGN KEY([intSMCSFamilyID])
REFERENCES [dbo].[TablesSMCSFamily] ([intSMCSFamilyID])
GO
ALTER TABLE [dbo].[TablesModel] CHECK CONSTRAINT [FK_TablesModel_TablesSMCSFamily]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Проект' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intEquipmentID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Гаражный номер' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intGarageRoom'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Производитель' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intManufacturerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Модель / TablesModel' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intModelID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Год выпуска' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'strManufYear'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Префикс' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intSNPrefixID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Серийный номер' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'strSerialNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Группа / TablesEquipmentType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intEquipmentTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Тип машины / TablesSMCSFamily' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intSMCSFamilyID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Размер / TablesSize' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intSizeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Дата занесения' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Моточасы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intMetered'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Дата последнего занесения' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'LastDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Последние Моточасы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intLastMetered'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Общая наработка мото-часов' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intTotalMetered'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'В день' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intlimitDay'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'В неделю' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'intlimitWeek'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Актиная машина' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'bitActive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Машина на консервации' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'bitPreservation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Моточасы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'bitMeter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'КТГ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'newEquipment', @level2type=N'COLUMN',@level2name=N'bitKTG'
GO
